<div th:fragment="footer" class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-6 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img class="bi me-2" width="30" height="25" role="img" th:src="@{/images/favicon.ico}" alt="Shortli"/>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2024 Shortli</span>
            <span class="mb-3 ms-5 mb-md-0"><a class="link-opacity-100-hover" href="/rules">Правила пользования</a></span>
        </div>
        <span class="mb-md-0 text-muted">По всем вопросам: <a href="mailto:shortli-adm@yandex.ru">shortli-adm@yandex.ru</a></span>
    </footer>
</div>