<!doctype html>
<html layout:decorate="~{layouts/layout}">

<head>
    <title>Shortli - сервис для сокращения ссылок</title>
</head>

<body>

<div layout:fragment="content">

    <div class="container">
        <h1 class="text-center">Shortli - сократи ссылку</h1>
        <form th:action="@{/shorten}" method="post" class="py-5">
            <div class="row col-sm-10 col-md-8 col-lg-6 mb-3 mx-auto">
                <label for="linkInput" class="form-label"></label>
                <div id="urlError" class="alert alert-danger notification" style="display: none" role="alert">Введите корректный URL</div>
                <input type="text" class="py-3 form-control text-center mb-3" id="linkInput" th:name="fullUrl" placeholder="Вставьте ссылку, которую нужно сократить" required>
                <button type="submit" class="btn btn-primary btn-lg">Сократить!</button>
            </div>
        </form>
    </div>

    <div class="col-md-10 col-lg-6 container py-3">
        <p class="fs-5 text-center">Знакомьтесь, Shortli - бесплатный помощник в сокращении ссылок!</p>
        <p class="fs-5">Shortli предлагает простой и удобный способ сокращения длинных и сложных URL-адресов в короткие,
            запоминающиеся и легко отслеживаемые ссылки. Это идеальный инструмент для тех, кто хочет сделать сложные
            веб-адреса более доступными и привлекательными для пользователей.</p>
    </div>

    <script>
        function isValidUrl(url) {
            const regex = /[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)/;
            return regex.test(url);
        }

        document.querySelector('form').addEventListener('submit', function(event) {
            const urlInput = document.getElementById('linkInput');
            const urlError = document.getElementById('urlError');
            if (!isValidUrl(urlInput.value)) {
                event.preventDefault();
                urlError.style.display = 'block';
            } else {
                urlError.style.display = 'none';
            }
        });
    </script>
</div>

</body>
</html>