<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shortli - сервис для сокращения ссылок</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 text-dark mb-md-0 text-decoration-none">
            <img class="bi me-2" width="50" height="50" role="img" th:src="@{/images/shortli.svg}" alt="Shortli" />
        </a>
        <div class="col-md-3 text-end">
            <a th:href="@{/login}"><button type="button" class="btn btn-outline-primary me-2">Вход</button></a>
            <a th:href="@{/signup}"><button type="button" class="btn btn-primary">Регистрация</button></a>
        </div>
    </header>
</div>
<div class="container py-5">
    <h2 class="text-center mb-3">Shortli - сократи ссылку!</h2>
    <form class="row justify-content-center">
        <div class="row col-sm-5 mb-3 text-center">
            <label for="linkInput" class="form-label"></label>
            <input type="email" class="py-3 form-control text-center mb-3" id="linkInput">
            <button type="submit" class="btn btn-primary btn-lg">Сократить!</button>
        </div>

    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>