<!doctype html>
<html layout:decorate="~{layouts/layout}">

<head>
    <title>Shortli - сервис для сокращения ссылок</title>
</head>

<body>

<div layout:fragment="content">
    <div class="container py-5">
        <h2 class="text-center mb-3">Твоя короткая ссылка:</h2>
            <div class="row col-sm-5 mb-3 mx-auto">
                <label for="shortLink" class="row form-label"></label>
                <input type="text" class="py-3 form-control text-center mb-2" id="shortLink" th:value="${createdUrl}" readonly="readonly">
                <a type="button" class="btn btn-primary btn-lg mb-4" onclick="copyToClipboard('shortLink')">Скопировать</a>
                <a type="button" class="btn btn-secondary btn-lg" th:href="@{/}">Создать еще ссылку</a>
            </div>
    </div>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</div>

</body>
</html>