<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>
    <title>Shortli - сервис для сокращения ссылок</title>
</head>

<body>

<div layout:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 text-dark mb-md-0 text-decoration-none">
                <img class="bi me-2" width="70" height="70" role="img" th:src="@{/images/Shortli.png}" alt="Shortli"/>
            </a>
            <div class="col-md-3 text-end">
                <a th:href="@{/}">
                    <button type="button" class="btn btn-outline-primary me-2">Назад</button>
                </a>
            </div>
        </header>
    </div>
</div>


<div layout:fragment="content">
    <h1 class="text-center">Регистрация</h1>
    <div class="d-flex align-self-center justify-content-center py-5">
        <form th:action="@{/signup}" th:object="${user}" method="post" class="col-sm-3">
            <div th:if="${existedUser == true}" class="alert alert-danger notification" role="alert">
                <p>Пользователь с такой почтой уже существует.</p>
            </div>
            <div class="mb-4">
                <label for="inputEmail" class="form-label">Адрес электронной почты</label>
                <input type="email" class="form-control" id="inputEmail" th:field="*{email}" th:required="required">
            </div>
            <div class="mb-4">
                <label for="inputPassword" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="inputPassword" th:field="*{password}" th:required="required">
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>

</body>
</html>