<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">

<head>
    <title>Shortli - сервис для сокращения ссылок</title>
</head>

<body>

<div layout:fragment="header">
    <div th:replace="~{fragments/headers :: headerBack}"></div>
</div>

<div layout:fragment="content">
    <h1 class="text-center">Регистрация</h1>
    <div class="d-flex align-self-center justify-content-center py-5">
        <form th:action="@{/signup}" th:object="${user}" method="post" class="col-sm-3">
            <div th:if="${existedUser == true}" class="alert alert-danger notification" role="alert">
                <p>Пользователь с такой почтой уже существует.</p>
            </div>
            <div class="mb-4">
                <label for="inputEmail" class="form-label">Адрес электронной почты</label>
                <input type="email" class="form-control" id="inputEmail" th:field="*{email}" placeholder="example@email.com" th:required="required">
            </div>
            <div class="mb-4">
                <label for="inputPassword" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="inputPassword" th:field="*{password}" placeholder="Пароль" th:required="required">
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>

</body>
</html>